<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/alertas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
    <title>JoseCuervo</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        
        <ul  id="alert">
            {% for category,message in messages %}
                <li class="Message {{category}}">
                    <div class="Message-icon">
                        {% if category == 'error' %}
                            <i class="fa fa-exclamation"></i>
                        {% else %}
                            <i class="fa fa-check"></i>
                        {% endif %}
                    </div>
                    <div class="Message-body">
                        <p>{{ message }}</p>
                    </div>
                    <button class="Message-close js-messageClose" onclick="this.parentElement.style.display='none';"><i class="fa fa-times"></i></button>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <nav class="top">
        <div class="navegacion">
            <a href="/dashboard">
                <label id="logo">JOSE<span>CUERVO</span></label>
            </a>
            <div class="menu"> 
                <div class="cuenta">
                    <img src="{{ url_for('static', filename=perfil) }}" alt="foto" id="perfil">
                    <div>
                        <label id="nombre">{{nombre}}</label>
                        <label id="rol">{{rol}}</label>
                    </div>
                    <img src="{{ url_for('static', filename='imgs/downtriangle.svg') }}" alt="icono" id="iconT">
                </div>
                <div class="desplegable">
                    {% if session["rol"]==2 %}
                        <a href="/administrador">Mi cuenta</a>
                    {% endif %}
                    <a href="/restablecer">Cambiar contraseña</a>
                    <a href="/logout">Salir</a>
                </div>
            </div>
        </div>
    </nav>
    <div id="contenedor-nuevo" class="contenedor-nuevo">
        <div class="contenido-nuevo">
            <div class="contenedor3">
                <p id="txt_disponible" style="padding: 0 20px; font-weight: 600;"></p>
                <form method="POST" id="form_disponible">
                    <div class="nombre-ape">
                        <input type="number" id="disponibilidad__cedula" name="disponibilidad__cedula">
                    </div>
                </form>
                <div class="enviar">
                    <button id="button-close-disponible" class="button_d">CANCELAR</button>
                    <button id="button_confirm" form="form_disponible" type="submit" class="button_d">CONFIRMAR</button>
                </div>
            </div>
        </div>
    </div>
    <div id="contenedor-eliminar" class="contenedor-eliminar">
        <div class="contenido-eliminar">
            <div class="contenedor2">
                <p id="sms" style="padding: 0 20px; font-weight: 600;"></p>
                <div class="enviar">
                    <button id="button-close-campos" type="button">CERRAR</button>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/alertas.js') }}"></script> -->
</body>
</html>