<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/normalize.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/layout.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    {% block head %}
    {% endblock %}
    <title>JoseCuervo</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert">
                <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endif %}
    {% endwith %}
    <nav class="top">
        <div class="navegacion">
            <label id="logo">JOSE<span>CUERVO</span></label>
            <div class="menu"> 
                <div class="cuenta">
                    <img src="{{ url_for('static', filename='imgs/img.jpg') }}" alt="foto" id="perfil">
                    <div>
                        <label id="nombre">{{nombre}}</label>
                        <label id="rol">{{rol}}</label>
                    </div>
                    <img src="{{ url_for('static', filename='imgs/downtriangle.svg') }}" alt="icono" id="iconT">
                </div>
                <div class="desplegable">
                    <a href="#">Mi cuenta</a>
                    <a href="/logout">Salir</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>