<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/politicas.css') }}">

    <title>JoseCuervo</title>
</head>
<body>
    <label id="logo">JOSE<span>CUERVO</span></label>
    <div class="politicas">
        <h2>POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES</h2>
    <h1>
        El sitio web WWW.JOSECUERVO.COM, es una página propiedad de EQUIPO 9 G35 MISIONTIC UNINORTE, persona natural, domiciliada en Colombia, regida por la ley colombiana y los presentes Términos y Condiciones, los cuales el USUARIO se obliga a respetar desde el momento de ingreso al sitio. Si el USUARIO no está de acuerdo con cualquiera de los presentes Términos y Condiciones deberá abstenerse de ingresar al sitio web o hacer uso de sus servicios.
        <br><br>
        
        
        1. Definiciones
        <br><br>
        Usuario: persona que ingresa al sitio web de EQUIPO 9 G35 MISIONTIC UNINORTE o hace uso de cualquiera de sus servicios.
        <br>
        Sitio web: Dirección URL (WWW.JOSECUERVO.COM) propiedad de EQUIPO 9 G35 MISIONTIC UNINORTE y al cual aplican los presentes términos y condiciones.
        <br>
        Propietario: EQUIPO 9 G35 MISIONTIC UNINORTE, quien tiene el control sobre el contenido que se ingresa, elimina o permanece en el sitio, así como de la publicación del mismo.
        <br>
        Tratamiento de datos: Cualquier operación u operaciones (recolectar, almacenar, analizar, transmitir, eliminar, etc) que se realice con datos personales.
        <br>
        Responsable del tratamiento: Quién decide sobre el tratamiento que se le da a los datos
        Personales de los usuarios, que para efectos de estos términos y condiciones será EQUIPO 9 G35 MISIONTIC UNINORTE.
        <br>
        Dato personal: Cualquier información asociada o que pueda asociarse a una o varias personas determinadas o determinables.
        <br>
        Titular: Persona cuyos datos personales sean tratados.
        <br><br>
        
        
        
        2. Política de tratamiento de datos personales
        <br><br>
        Al suministrar datos personales y aceptar su tratamiento el USUARIO autoriza a que el sitio web y EQUIPO 9 G35 MISIONTIC UNINORTE almacenen, transmitan, transfieran a cualquier título la información proporcionada. Así mismo acepta su uso para fines de prestar un mejor servicio, usos comerciales, publicitarios y la comunicación de ofertas del sitio web, EQUIPO 9 G35 MISIONTIC UNINORTE y terceros a los que les haya sido transferida la información a cualquier título.
        <br>
        Al proporcionar sus datos personales el USUARIO acepta que estos hagan parte de la base de datos que genera el sitio web o EQUIPO 9 G35 MISIONTIC UNINORTE y que ésta sea incluida, junto con su información, en los activos del sitio web o EQUIPO 9 G35 MISIONTIC UNINORTE para las operaciones de venta, fusión, escisión o cualquier otra operación comercial.
        <br>
        Obligaciones del propietario
        <br>
        Medidas de protección: para garantizar la privacidad de los datos personales proporcionados por el USUARIO el propietario se obliga a tomar las medidas de protección necesarias para evitar el acceso no autorizado a dicha información. Estas medidas se ajustarán en función del tipo de información proporcionada pero en ningún caso se asume una obligación de resultado frente a la protección de dichos datos. En caso de ingreso no autorizado, vulneración, o falla de los servicios de seguridad el propietario se compromete a solucionar el problema dentro de un tiempo razonable, mas no será responsable por los daños producidos al USUARIO o terceros por la violación de las medidas de seguridad dispuestas o el acceso abusivo al sistema informático de EQUIPO 9 G35 MISIONTIC UNINORTE.
        <br><br>
        
        
        Control de la información: el USUARIO podrá en cualquier momento solicitar la corrección, rectificación, o actualización de la información proporcionada. Cuando la Superintendencia de Comercio encuentre que el propietario ha incumplido con la política de protección de datos acá establecida o con los mínimos señalados por la ley el USUARIO podrá solicitar la supresión de sus datos personales tanto del sitio web como de las bases de datos de EQUIPO 9 G35 MISIONTIC UNINORTE y terceros a los que les haya sido transferida a cualquier título.
        <br>
        Términos de respuesta: el propietario responderá en un máximo de 10 (diez) días hábiles las peticiones sobre consulta de datos personales que sean elevadas por el USUARIO a través de los canales Establecidos para ello. Cuando la petición sea sobre corrección, actualización o supresión de los datos los términos de respuesta será de 15 (quince) días hábiles.
        <br>
        <!-- Canales de atención: para solicitudes sobre actualización, rectificación, actualización o supresión de sus datos personales el USUARIO podrá dirigirse a la dirección de correo electrónico CAMBIODEDATOS@JOSECUERVO.COM y al teléfono 3702589637.
        <br> -->
        Copia de autorización: el propietario conservará copia de la autorización otorgada por el USUARIO para el tratamiento de sus datos personales y hará entrega de la misma dentro de los 10 (diez) días hábiles siguientes a la solicitud realizada por el USUARIO. Los términos comenzarán a contar desde el día hábil siguiente a la fecha de realización de la solicitud.
        <br>
        Revelación de información: EQUIPO 9 G35 MISIONTIC UNINORTE podrá dar a conocer los datos personales del USUARIO cuando sea requerida por autoridades administrativas o judiciales competentes.
        <br><br>
        
        
        3. Propiedad intelectual
        <br><br>
        El contenido del sitio web, incluyendo, pero no limitándose a, imágenes, texto, vídeos, logos, diseños, diagramación, archivos, etc es propiedad de EQUIPO 9 G35 MISIONTIC UNINORTE y el USUARIO sólo podrá hacer uso de aquel para fines personales. Cualquier descarga, reproducción, almacenamiento, transmisión, transferencia a cualquier título, para fines no personales se encuentra prohibido.
        <br>
        Cuando en el sitio web se presente contenido de terceros (artículos, imágenes, opiniones, vídeos, logos diseños, entre otros) esto se hace con la autorización de los autores del contenido y su descarga, reproducción, almacenamiento, transmisión o transferencia a cualquier título por parte del USUARIO queda sujeto a las mismas restricciones del párrafo anterior.
        <br>
        Sobre los contenidos que el USUARIO ingrese en el sitio web y que no constituyan datos personales (opiniones, comentarios, imágenes, vídeos, logos, diseños, entre otros) el USUARIO otorga a el sitio y a EQUIPO 9 G35 MISIONTIC UNINORTE licencia para su uso sin restricción alguna, incluyendo, pero no limitándose al almacenamiento, reproducción, transferencia a cualquier título, oneroso, gratuito, exhibición, entre otros.
        <br><br>
        
        
        4. Calidad de la información proporcionada
        <br><br>
        El contenido publicado en el sitio web por cualquier medio o formato (texto, video, imágenes, etc) cumple propósitos meramente enunciativos y no constituyen asesoría o consejo sobre cualquiera de los temas que traten. EQUIPO 9 G35 MISIONTIC UNINORTE no garantiza la actualidad o veracidad de la información contenida, sin perjuicio de aquella que constituya oferta comercial o parte de ésta de conformidad con la normatividad colombiana.
        <br>
     EQUIPO 9 G35 MISIONTIC UNINORTE no garantiza la actualidad o veracidad de la información contenida en sitios web, archivos, aplicaciones, y demás contenido de terceros a los que el USUARIO sea redirigido desde el sitio web de su propiedad, así como del contenido aportado por otros usuarios en los espacios dispuestos para ello. El ingreso y uso de los sitios, archivos, aplicaciones y simialres a los que sea redirigido el USUARIO desde WWW.JOSECUERVO.COM estarán sujetos a los términos y condiciones de los mismos, sobre los que EQUIPO 9 G35 MISIONTIC UNINORTE no tiene responsabilidad alguna. EQUIPO 9 G35 MISIONTIC UNINORTE tampoco garantiza que el contenido de sitios web, archivos o aplicaciones de terceros cumpla con la legislación colombiana en materia de protección de datos o que el contenido allí presentado sea legal bajo la normatividad colombiana.
        <br>
     EQUIPO 9 G35 MISIONTIC UNINORTE no se hace responsable por los daños o perjuicios que pudiera causar al USUARIO o terceros la inexactitud, error, o veracidad de la información proporcionada en el sitio web o sitios, aplicaciones, archivos, documentos y contenido de terceros a los cuales sea redirigido el USUARIO, así como fallas parciales o completas en el funcionamiento del mismo, códigos maliciosos que terceros incluyeran en el sitio o sus archivos. Lo anterior sin perjuicio de aquella información que constituya oferta comercial en WWW.JOSECUERVO.COM de conformidad con la normatividad colombiana.
        <br><br>
        
        
        5. Moderación
        <br><br>
        Para garantizar el adecuado funcionamiento del sitio web y una experiencia segura para los usuarios, EQUIPO 9 G35 MISIONTIC UNINORTE podrá:
        <br>
        Cambiar en cualquier momento los presentes Términos y Condiciones, así como la política de privacidad del sitio web.
        <br>
        Negar el registro de un USUARIO.
        <br>
        Eliminar en cualquier momento los datos personales del USUARIO de sus bases de datos.
        <br>
        Eliminar el contenido que el USUARIO haya ingresado a la página, incluyendo pero no limitándose a comentarios, imágenes, logos, vídeos, planos, diseños, entre otros.
        <br>
        Suspender de manera temporal o permanente la publicación del sitio web, así como cualquiera de los servicios que preste.
        <br>
        Eliminar sin previo aviso una parte o todo el contenido agregado por el USUARIO al sitio.
        <br><br>
        El USUARIO, para garantizar el adecuado funcionamiento del sitio y una experiencia segura para los demás deberá:
        <br>
        Acceder sólo a las secciones del sitio para las cuales ha sido autorizado.
        <br>
        Abstenerse de proporcionar datos personales falsos, o que induzcan a error al sitio web, EQUIPO 9 G35 MISIONTIC UNINORTE a otros usuarios o terceros, o que pretendan impersonales.
        <br>
        Abstenerse de realizar actividades comerciales o promocionales en los espacios en que el sitio le permita agregar contenido, a menos que se autorice expresamente.
        <br>
        
        
        Abstenerse de realizar actividades comerciales o promocionales en los espacios en que el sitio le permita agregar contenido, a menos que se autorice expresamente.
        <br>
        Abstenerse de descargar, reproducir, duplicar, transmitir, almacenar, exhibir y en general disponer del contenido del sitio para fines no personales como actividades comerciales, promocionales, de lucro, entre otras.
        <br>
        Abstenerse de proporcionar a terceros sus credenciales de ingreso (ID Y CONTRASEÑA). El sitio web y EQUIPO 9 G35 MISIONTIC UNINORTE no será responsables por los daños o perjuicios que la violación de esta prohibición pueda causar al USUARIO o terceros.
        
        <br><br>
        
        
        6. Política de cookies
        <br><br>
        Las cookies son archivos que se guardan en el computador o dispositivo del USUARIO al visitar el sitio web. Estos archivos contienen información sobre las preferencias del USUARIO, datos de login en diferentes sitios web así como páginas visitadas, clicks dados e información con que se rellenaron formularios, entre otros. Las cookies ayudan al sitio a funcionar más rápidamente y prestar un mejor servicio.
        <br>
        El USUARIO puede deshabilitar el uso de cookies para sitios específicos desde la configuración de su navegador web. Al no deshabilitarlos para el sitio web de EQUIPO 9 G35 MISIONTIC UNINORTE acepta su uso.
        <br>
        El deshabilitar el uso de cookies en puede causar que el sitio no funcione de manera adecuada, con poca velocidad, con errores o que presente fallas que no permitan el uso por parte del USUARIO.
        </h1>
        <div class="botones">
            <a id="volver" class="button" href="/">ACEPTAR</a>
        </div>
    </div>
</body>
</html>