{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/formularios.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" id="formulario">
            <h1>{{ titulo }}</h1>
            <p class="titulos">Datos personales</p>
            <div class="informacion-personal">
                <div class="field-container">
                    <p class="titulo">Nombres</p>
                    <input value="{{Unombre}}" type="text" name="nombre">
                </div>
                <div class="field-container">
                    <p class="titulo">Apellidos</p>
                    <input value="{{apellido}}" type="text"  name="apellido">
                </div>
                <div class="field-container">
                    <p class="titulo">Edad</p>
                    <input value="{{edad}}" type="number" name="edad" id="">
                </div>
                <div class="field-container">
                    <p class="titulo">Sexo</p>
                    <select name="sexo">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="field-container">
                    <p class="titulo">Fecha de nacimiento</p>
                    <input value="{{nacimiento}}" type="date" name="nacimiento" id="">
                </div>
                <div class="field-container">
                    <p class="titulo">Cedula</p>
                    <input value="{{cedula}}" type="number" id="cc" name="cedula">
                </div>
                <div class="field-container">
                    <p class="titulo">Estado civil</p>
                    <select name="estado_civil" >
                        <option value="soltero">Soltero</option>
                        <option value="casado">Casado</option>
                    </select>
                </div>
                <div class="field-container">
                    <p class="titulo">Email</p>
                    <input value="{{email}}" type="email" name="email">
                </div>
                <div class="field-container">
                    <p class="titulo">Celular</p>
                    <input value="{{celular}}" type="number" name="celular">
                </div>
                <div class="field-container">
                    <p class="titulo">Dirección</p>
                    <input value="{{direccion}}" type="text" name="direccion">
                </div>
            </div>

            <p class="titulos">Información laboral</p>
            <div class="informacion-laboral">
                <div class="field-container">
                    <p class="titulo">Fecha de ingreso</p>
                    <input value="{{ingreso}}" type="date" name="ingreso">
                </div>
                <div class="field-container">
                    <p class="titulo">Fecha de termino</p>
                    <input value="{{termino}}" type="date" name="termino">
                </div>
                <div class="field-container">
                    <p class="titulo">Tipo de contrato</p>
                    <select name="tipo" >
                        <option value="termino fijo">Termino fijo</option>
                        <option value="prestación de servicios">Prestación de servicios</option>
                        <option value="apredizaje">Apredizaje</option>
                        <option value="termino indefinido">Termino indefinido</option>
                        <option value="obra o labor">Obra o labor</option>
                    </select>
                </div>
                <div class="field-container">
                    <p class="titulo">Salario</p>
                    <input value="{{salario}}" type="number" name="salario">
                </div>
                <div class="field-container">
                    <p class="titulo">Disponibilidad</p>
                    <select name="disponibilidad" >
                        <option value="1">Activo</option>
                        <option value="0">No activo</option>
                    </select>
                </div>
            </div>
            <p class="titulos">Asignacion de rol y perfil</p>
            <div class="archivos">
                <div class="combo">
                    <p class="titulo">Rol</p>
                    <select name="select" id="select-rol">
                        <option value="2">Administrador</option>
                        <option value="3">Empleado</option>
                    </select>
                </div>
                <div class="upload-foto">
                    <p class="titulo">Foto de perfil</p>
                    <label for="upload" id="lable-upload" class="upload-btn">
                        <span id="txt">Sube una foto</span>
                        <img src="{{ url_for('static', filename='imgs/upload.svg') }}" alt="">
                    </label>
                    <input type="file" name="archivo" id="upload">
                </div>
            </div>
            <div class="botones">
                <a id="volver" class="button" href="/dashboard">VOLVER</a>
                <button type="submit" id="guardar" class="button">GUARDAR</button>
            </div>
        </form>
    </div>
</main>
<script src="{{ url_for('static', filename='js/formularios.js') }}"></script>
{% endblock %}