{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/formularios.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/solicitud.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="form-container">
        <form action="" method="POST" id="formulario">
            <h1>Petición de actualización</h1>
            <p class="titulos">Datos personales</p>
            <div class="informacion-personal">
                <div class="field-container">
                    <p class="titulo">Nombres</p>
                    <input value="{{Unombre}}" type="text" name="nombre">
                </div>
                <div class="field-container">
                    <p class="titulo">Apellidos</p>
                    <input value="{{apellido}}" type="text"  name="apellido">
                </div>
                <div class="field-container">
                    <p class="titulo">Edad</p>
                    <input value="{{edad}}" type="number" name="edad" id="">
                </div>
                <div class="field-container">
                    <p class="titulo">Sexo</p>
                    <select name="sexo">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="field-container">
                    <p class="titulo">Fecha de nacimiento</p>
                    <input value="{{nacimiento}}" type="date" name="nacimiento" id="">
                </div>
                <div class="field-container">
                    <p class="titulo">Cedula</p>
                    <input value="{{cedula}}" type="number" id="cc" name="cc">
                </div>
                <div class="field-container">
                    <p class="titulo">Estado civil</p>
                    <select name="estado_civil" >
                        <option value="soltero">Soltero</option>
                        <option value="casado">Casado</option>
                    </select>
                </div>
                <div class="field-container">
                    <p class="titulo">Email</p>
                    <input value="{{email}}" type="email" name="email">
                </div>
                <div class="field-container">
                    <p class="titulo">Celular</p>
                    <input value="{{celular}}" type="number" name="celular">
                </div>
                <div class="field-container">
                    <p class="titulo">Dirección</p>
                    <input value="{{direccion}}" type="text" name="direccion">
                </div>
            </div>
            <p class="titulos">Cometarios</p>
            <div class="cometarios">
                <textarea name="comentarios" id="comentarios-area" cols="30" rows="10">

                </textarea>
            </div>
            <div class="botones">
                <a id="volver" class="button" href="/empleado">VOLVER</a>
                <button id="guardar" class="button">SOLICITAR</button>
            </div>
        </form>
    </div>
</main>
<script src="{{ url_for('static', filename='js/solicitud.js') }}"></script>
{% endblock %}