{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/vistaEmpleado.css') }}">
{% endblock %}


{% block content %}
<main>
    <div class="info-empleado">
        <div class="empleado-info">
            <img src="{{ url_for('static', filename=perfil) }}" alt="">
            <div class="Admin-info-ocupacion">
                <p id="Enombre">{{Unombre}}</p>
                <p class="cedula">{{cedula}}</p>
                <p class="sexo" style="font-size: 1.2rem; margin-top: -10px;">{{sexo}}</p>
            </div>
        </div>
        <div class="info-calificacion">
            
            <div class="izq">
                <div>
                    <p class="titulo">Fecha de nacimiento</p>
                    <p>{{nacimiento}}</p>
                </div>
                <div>
                    <p class="titulo">Edad</p>
                    <p>{{edad}}</p>
                </div>
                <div>
                    <p class="titulo">Estado civil</p>
                    <p>{{estado}}</p>
                </div>
                <div>
                    <p class="titulo">Celular</p>
                    <p>{{celular}}</p>
                </div>
                <div>
                    <p class="titulo">Dirección</p>
                    <p>{{direccion}}</p>
                </div>
                <div>
                    <p class="titulo">Email</p>
                    <p>{{email}}</p>
                </div>
            </div>
            <div class="der">
                <div>
                    <p class="titulo">Fecha de ingreso</p>
                    <p>{{ingreso}}</p>
                </div>
                <div>
                    <p class="titulo">Fecha de termino</p>
                    <p>{{termino}}</p>
                </div>
                <div>
                    <p class="titulo">Tipo de contrato</p>
                    <p>{{tipo}}</p>
                </div>
                <div>
                    <p class="titulo">Salario</p>
                    <p>{{salario}}</p>
                </div>
                <div>
                    <p class="titulo">Rol</p>
                    <p>{{rol}}</p>
                </div>
                <div>
                    <p class="titulo">Disponibilidad</p>
                    <p>{{disponible}}</p>
                </div>
            </div>

            <ul id="calificaciones">
                {% for r in cali %}
                <li>
                    <div class="calificaciones">
                        <p class="fecha">{{r["calificacion"]}} | {{r["fecha"]}}</p>
                        <p class="comentarios">{{r["comentario"]}}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
       
        <div class="empleado-buttons">
            <a id="actualizacion" href="/solicitud" class="button">ACTUALIZACIÓN</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</main>
</main>
{% endblock %}