{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/vistaCalificar.css') }}">
{% endblock %}


{% block content %}
<main>
    <div class="info-Admin">
        <div class="Adm-info">
            <img src="{{ url_for('static', filename=imagen) }}" alt="">
            <div class="Admin-info-ocupacion">
                <p id="Enombre">{{Unombre}}</p>
                <p class="cedula">{{cedula}}</p>
                <p class="sexo">{{sexo}}</p>
            </div>
        </div>
        <div class="calificar">
            <div class="formulario">
                <div class="izq">
                    <div>
                        <p class="titulo">Fecha de nacimiento</p>
                        <p>{{nacimiento}}</p>
                    </div>
                    <div>
                        <p class="titulo">Edad</p>
                        <p>{{edad}}</p>
                    </div>
                    <div>
                        <p class="titulo">Estado civil</p>
                        <p>{{estado}}</p>
                    </div>
                    <div>
                        <p class="titulo">Celular</p>
                        <p>{{celular}}</p>
                    </div>
                    <div>
                        <p class="titulo">Dirección</p>
                        <p>{{direccion}}</p>
                    </div>
                    <div>
                        <p class="titulo">Email</p>
                        <p>{{email}}</p>
                    </div>
                
                    <div>
                        <p class="titulo">Fecha de ingreso</p>
                        <p>{{ingreso}}</p>
                    </div>
                    <div>
                        <p class="titulo">termino</p>
                        <p>{{termino}}</p>
                    </div>
                    <div>
                        <p class="titulo">Tipo de contrato</p>
                        <p>{{tipo}}</p>
                    </div>
                    <div>
                        <p class="titulo">Salario</p>
                        <p>{{salario}}</p>
                    </div>
                    <div>
                        <p class="titulo">Rol</p>
                        <p>{{cargo}}</p>
                    </div>
                    <div>
                        <p class="titulo">Disponibilidad</p>
                        <p>{{disponible}}</p>
                    </div>
                </div>
            </div>
            <ul id="calificaciones">
                {% for r in cali %}
                <li>
                    <div class="calificaciones">
                        <p class="fecha">{{r["calificacion"]}} | {{r["fecha"]}}</p>
                        <p class="comentarios">{{r["comentario"]}}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
            <form action="" id="form_coment" class="form_comentarios" method="POST">
                <textarea name="comentario" class="caja"  maxlength="350" placeholder="Comentarios"></textarea>
                <input type="date" name="fcalificacion">
                <select name="Ccalificacion" id="">
                    <option value="Excelente">Excelente</option>
                    <option value="Normal">Normal</option>
                    <option value="Regular">Regular</option>
                </select>
            </form>
            
        </div>
       
        <div class="admin-buttons">
            <a id="volver" href="/dashboard" class="button">VOLVER</a>
            <button form="form_coment" id="calificar" class="button">CALIFICAR</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/calificar.js') }}"></script>
</main>
</main>
{% endblock %}