body {
    width: 100vw;
    height: 100vh;
}

/* Center the avatar image inside this container */
.imgcontainer {
    width: 90%;
    position:absolute;
    text-align: center;
    top: 30px;
}
  
/* Avatar image */
img.logo {
    width: 100%;
    max-width: 990px;
    max-height:50%;
}

/* organizar todos los elementos en el centro de la pagina */
.container, form, .infol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #ffffffd9;
}


.container {
    justify-content: center;
    width: 100%;
    height: 100%;
} 

.infol {
    width: 100%;
    position:fixed;
    bottom:0;
    justify-content: center;
    background-color: var(--background-color);
    height: 80px;
}

/* estilizar el texto de la pagina */
.titulo,.titulo span {
    font-size: 6.25rem;
    
}

.titulo span {
    color: var(--main-color);
}

h3 {
    font-size: 2.18rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    background-color: transparent;
    text-align: center;
   
}

/* personalizar los botones */
.button {
    border: 0;
    border-radius: 25px;
    height: 2.5rem;
    width: 13rem;
    color: var(--background-color);
    background-color: var(--main-color);
    font-weight: bold;
    align-items: center;
    padding: 0;
}

.button:hover{
    cursor: pointer;
    background-color: var(--main-color-dark);
    color: white;
}



/* personalizar los inputs */
input{
    border: 3px solid var(--secondary-color);
    border-radius: 50px;
    width: 16rem;
    height: 2.5rem;
    padding: 0.75rem 1.25rem;
}

input:focus {
    outline:none;
}

/* checkbox personalizado */
.datos {
    display: flex;
    align-items: center;
}

.lbl {
    font-size: 10px;
    display: inline-block;
    width: 4em;
    height: 1.8em;
    background: var(--secondary-color);
    border-radius: 6em;
    position: relative;
    transition: .4s;
}

.lbl::after {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    background: var(--background-color);
    border-radius: 50%;
    position: absolute;
    top: 0.15em;
    left: 0.25em;
    transition: .4s;
}

#recordar:checked + .lbl::after {
    left: 2.4em;
}

#recordar:checked + .lbl {
    background: var(--main-color);
}

#recordar {
    display: none;
}

#rdatos {
    margin-left: 4px;
}


@media (max-whdth: 768px) {
    form{
        width: 75%;
    }
    div.container{
        width: 75%;
    }
    .imgcontainer{
        width: 75%;
    }
    
}

@media (max-whdth: 480px) {
    form{
        width: 95%;
    }
    
    .container{
        width: 95%;
    }

}

/* sms */
.contenedor2 {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contenedor-eliminar{
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    pointer-events: none;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.contenido-eliminar{
    max-width: 30rem;
    width: 40%;
    min-width: 15rem;
    height: 10rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}


#button-close-campos {
    border: 0;
    border-radius: 25px;
    height: 2.5rem;
    width: 10rem;
    color:white;
    background-color: var(--main-color);
    font-weight: bold;
    align-items: center;
    margin: 0 4px;
    margin-top: 20px;
}

#button-close-campos:hover {
    background-color: var(--main-color-dark);
    cursor: pointer;
}

.showeliminar{
    pointer-events: auto;
    opacity: 1;
}


@media screen and (max-width:500px) { 
    h3 {
        font-size: 1.5rem;
    }

    input {
        width: 14rem;
    }
}

