body{
    background-color: var(--background-color);
}

label{
    display: flex;
    height: 80px;
    width: 100%;
    background-color:white;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 2rem;
    font-weight: 700;
}

#logo span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
}


.politicas {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px 0;
}

h1{
    width: 90%;
    text-align: justify;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    background-color: transparent;
}


.botones {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: row;
}


.button {
    border: 0;
    border-radius: 25px;
    height: 2.5rem;
    width: 10rem;
    color: var(--background-color);
    background-color: var(--secondary-color);
    font-weight: bold;
    align-items: center;
    margin: 0 4px;
    
}
.button:hover{
    cursor: pointer;
    background-color: var(--secondary-color-dark);
}

#aceptar {
    background: var(--main-color);
    /* margin-left: 20px; */
}

#aceptar:hover {
    background: var(--main-color-dark);
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.aceptar {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

@media screen and (max-width: 560px){
    h2{
        font-size: 1.2rem;
        text-align: center;
        padding: 10px;
    }

}